    <!--ALL class code - Shana -->
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class ="bar bar-nav">
      <div id = "nav-bar" class ="title">
        <div id = "app-name"> IMPARTIAL </div>
      </div>
      <!-- <a href= "/sessions/fullprofile"><button id = "profile-button"> <span id = "icon-profile" class="icon icon-person"></span> </button></a> -->
      <a href= "/quizes"<button id="stats-button"><span class="glyphicon glyphicon-th"></span></button></a>
    </header>


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">

      <div id = "profile-title" >PROFILE</div>
      
              <div id = "pic-info">
                <div><img id = "profile-pic" src="profile-picture.png"></div>
              </div>
              <div id = "personal-info">
                  <div class= "title-labels"><u><strong>NAME:</strong></u></div>
                  <div class = "personal-txt">WILFRED HI</div>
                  <div class= "title-labels"><u><strong>BIRTHDAY:</strong></u></div>
                  <div class = "personal-txt">2/16/14</div>
                  <div class= "title-labels"><u><strong>POLITICAL PARTY:</strong></u></div>
                  <div class = "personal-txt">REPUBLICAN</div>
                  <div class= "title-labels"><u><strong>CITY:</strong></u></div>
                  <div class = "personal-txt">OAKLAND</div>
                 <button id = "edit-button" class="btn btn-link">EDIT PROFILE</button>
              </div>
       


      <div id = "table-div-profile"> 
        <table style="width:300px">
        
            <tr><button id = "sets-button-big" class="btn btn-primary ">FULL RESULTS</button></tr>
            <tr><button id = "sets-button-big" class="btn btn-primary ">REGISTER TO VOTE</button></tr>
            <tr><button id = "sets-button-big" class="btn btn-primary ">VOTER CHEATSHEET</button></tr>
       
        </table>
      </div>
    </div>

