<h1>Quizes</h1>

<form action="/quizes/" method ="post" name="quiz">
  <input type="hidden" name="category" value="Issue1">
  <button id="submit1"type="submit"> Issue 1 </button>
</form>

<form action="/quizes/" method ="post" >
  <input type="hidden" name="category" value="Issue2">
  <button id="submit1"type="submit"> Issue 2 </button>
</form>

<form action="/quizes/" method ="post" >
  <input type="hidden" name="category" value="Issue3">
  <button id="submit1"type="submit"> Issue 3 </button>
</form>


