
/* ///// CUSTOM STYLING STARTS HERE ////// */

#nav-bar {
  background-color: rgb(53, 118, 190);
}

#app-name {
  color: white;
  padding-top: 2px;
  height: 50px;
  font-size: 22px;
}

#icon-profile {
  color: white;
}

#profile-button {
  width: 40px;
  height: 40px;
  padding-left: 10px;
}

#stats-button {
  width: 40px;
  height: 40px;
  float:right;
}

#dem-button {
  background-color: rgb(53, 118, 190);
  color: white;
  width: 190px;
  height: 52px;
  border: 15px;
  font-size: 20px;
}


#rep-button {
  background-color: rgb(206, 60, 63);
  color: white;
  width: 190px;
  height: 52px;
  border: 15px;
  font-size: 20px;
}



#div-party {

    width: 190px;
    height: 190px;
    
    position: absolute;
    top:30px;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

#padding-btw-RD {
  height: 30px;
}

#party-label {
  
  font-weight: bold;
  text-align: center;;
  background-color: none;
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;

}

#quote-label {
  
  font-weight: bold;
  text-align: center;;
  background-color: none;
  font-size: 25px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;

}

span.glyphicon-stats {
    font-size: 1.7em;
    color: white;
}

#progress-div {
  width: 300px;
  position: absolute;
    bottom: 20px;
    left: 10px;
    margin: auto;
    
    
}


.textfill {
    width: 290px;
    height: 240px;
    font-size: 25px;
    font-style: italic;
    text-align: center;
    padding-top: 15px;
    margin: 15px;

}

#days {
  width: 75px;
  height : 40px;
}

#date-label {
  width: 70px;
  height : 40px;
  background-color: purple;

}

#bday-dropdown {
  background-color: none;
  position: absolute;
  top:70px;
    bottom: 0px;
    left: 20px;
    right: 0px;

}

#agree-button{
  background-color: rgb(53, 118, 190);
  color: white;
  width: 130px;
  height: 52px;
  float:right;
  border: 15px;
  font-size: 20px;

}

#disagree-button{
  background-color: rgb(53, 118, 190);
  color: white;
  width: 130px;
  height: 52px;
  border: 15px;
  font-size: 20px;
  float:left;


}
#padding-btw-AD{
  width:30px;
}

#div-buttons{
  width: 300px;
  height: 190px;
  
  position: absolute;
  top:400px;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;  

}

#sets-button{
  background-color: rgb(53, 118, 190);
  color: white;
  width: 90px;
  height: 52px;
  font-size: 20px;

}

#table-div{
  position: absolute;
    bottom: 20px;
    left: 10px;
    margin: auto;
}

.hidden {
  display: none;
}



