 <!--ALL class code - Shana -->
    <!-- Make sure all your bars are the first things in your <body> -->
    <header class ="bar bar-nav">
      <div id = "nav-bar" class ="title">
        <div id = "app-name"> IMPARTIAL </div>
      </div>
      <button id = "profile-button"> <span id = "icon-profile" class="icon icon-person"></span> </button>
      <button id="stats-button"><span class="glyphicon glyphicon-th"></span></button>
    </header>


    <!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
    <div class="content">

        
      <div id = "party-label">POLITICAL PARTY?</div>
      <div id= "div-party">
        <button id = "rep-button" class="btn btn-primary ">REPUBLICAN</button>
        <div id = "padding-btw-RD"></div>
        <button id = "dem-button" class="btn btn-primary ">DEMOCRATIC</button>
      </div>
    </div>
